.questionsPage {
    height: 100%;
    width: 100%;
}

.questionsHeader {
    height: 160px;
    background-color: #9581E0;
    border-bottom-right-radius: 100% 170%;
    border-bottom-left-radius: 100% 170%;
    width: 100%;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* .questionsHeader {
    height: 160px;
    background-image: url("../assets/adsas-removebg.png");
    background-position: center;
    background-size: cover;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.questionsHeaderCentreColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionNavigation {
    padding-top: 14px;
    padding-left: 80px;
    padding-right: 80px;
}

.hidden {
    visibility: hidden;
}

.questionNumber {
    padding-top: 10px;
    font-size: 18px;
}

.content {
    height: 100%;
    padding-top: 190px;
}

.contentContainer {
    padding-right: 0px !important;
}

.contentRow {
    width: 100%;
    margin-left: 0px !important;
}

.nerdContainer {
    justify-content: end;
    display: flex;
    align-items: center;
}

.nerd {
    padding: 0px 50px 0px 50px;
    width: 80%;
}

.scenarioTextColumn {
    padding-right: 0px !important;
}

.scenarioText {
    background-color: #FFFFFF;
    opacity: 0.75;
    font-size: 20px;
    padding: 50px 50px 50px 100px;
    border-radius: 20px 0px 0px 20px;
}

.questionTitle {
    font-size: 3em;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: 109px;
    left: 162px;
    z-index: 1;
    margin-top: -100px;
    width: fit-content;
}

.questionText {
    background-color: #FFFFFF;
    opacity: 0.75;
    font-size: 20px;
    padding: 50px 100px 40px 100px;
    margin: 80px 100px 40px 100px;
    border-radius: 20px;
}

.answersContainer {
    padding-left: 120px;
    padding-right: 120px;
}

.answerPrompt {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
}

.answers {
    font-size: 20px;
}

.answer {
    display: flex;
}

.navigationButtons {
    justify-content: center;
    display: flex;
}

.navigationButtonContainer {
    justify-content: center;
    display: flex;
}

.navigationButton {
    width: 300px;
    height: 80px;
    font-size: 40px !important;
    padding-bottom: 20px !important;
    border-width: 3px !important;
    border-radius: 20px !important;
    margin-left: 10px;
    margin-right: 10px;
}

.navigationButton:hover {
    background: #ffffff4e !important;
    color: #FFFFFF !important;
}

.warningText {
    color: rgb(255, 82, 82);
    text-align: center;
    font-weight: bold;
    font-size: large;
}

@media all and (max-width: 768px) {

    .questionsHeader {
        height: 125px;
    }

    .content {
        padding-top: 145px;
    }

    .contentContainer {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .scenarioText {
        padding: 20px 10px 20px 20px;
        border-radius: 20px;
        font-size: 1.2em;
    }

    .scenarioTextColumn {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
   
    .questionTitle {
        font-size: 3em;
        left: 0px;
        top: 128px;
    }
    .questionText {
        padding: 50px 10px 30px 20px;
        margin: 99px 10px 60px 0px;
        font-size: 1.2em;
    }

    .answerPrompt {
        font-size: 1.5em;
        padding-bottom: 20px;
    }

    .answersContainer {
        padding-left: 20px;
        padding-right: 20px;
    }

    .answers {
        font-size: 1.2em;
    }

    .navigationButtonContainer {
        margin-top: 30px;
    }

    .navigationButton {
        width: 40vw;
        height: auto;
        padding-bottom: 6px !important;
        border-width: 3px !important;
        border-radius: 20px !important;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.5em !important;
    }
}