.questionsPage {
    height: 100%;
    width: 100%;
    padding-bottom: 100px;
    background-image: url("../assets/landingBackground.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.questionsHeader {
    height: 160px;
    background-color: #9581E0;
    border-bottom-right-radius: 100% 170%;
    border-bottom-left-radius: 100% 170%;
    width: 106%;
    position: fixed;
    left: -3%;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.questionsHeaderCentreColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionNavigation {
    padding-top: 14px;
    padding-left: 80px;
    padding-right: 80px;
}

.hidden {
    visibility: hidden;
}

.questionNumber {
    padding-top: 10px;
    font-size: 18px;
}

.content {
    height: 100%;
    padding-top: 190px;
}

.contentContainer {
    padding-right: 0px !important;
}

.contentRow {
    width: 100%;
    margin-left: 0px !important;
}

.nerd {
    padding: 0px 50px 0px 50px;
}

.scenarioTextColumn {
    padding-right: 0px !important;
}

.scenarioText {
    background-color: #FFFFFF;
    opacity: 0.75;
    font-size: 24px;
    padding: 50px 50px 50px 100px;
    border-radius: 20px 0px 0px 20px;
}

.questionTitle {
    font-size: 99px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: 159px;
    left: 190px;
    z-index: 1;
    margin-top: -100px;
    width: fit-content;
}

.questionText {
    background-color: #FFFFFF;
    opacity: 0.75;
    font-size: 24px;
    padding: 120px 50px 50px 100px;
    margin: 100px 100px 100px 100px;
    border-radius: 20px;
}

.answersContainer {
    padding-left: 120px;
    padding-right: 120px;
}

.answerPrompt {
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 30px;
}

.answers {
    font-size: 24px;
}

.answer {
    display: flex;
}

.navigationButtons {
    justify-content: center;
    display: flex;
}

.navigationButtonContainer {
    justify-content: center;
    display: flex;
}

.navigationButton {
    width: 300px;
    height: 80px;
    font-size: 40px !important;
    padding-bottom: 20px !important;
    border-width: 3px !important;
    border-radius: 20px !important;
    margin-left: 5px;
    margin-right: 5px;
}

.navigationButton:hover {
    background: #ffffff4e !important;
    color: #FFFFFF !important;
}

.warningText {
    color: rgb(255, 82, 82);
    text-align: center;
    font-weight: bold;
    font-size: large;
}