.summaryAndFeedbackPage {
    height: 100%;
    width: 100%;
    background-image: url("../assets/landingBackground.png");
    background-attachment: fixed;

    background-position: center;
    background-size: cover;
    /* display: flex; */
    /* align-items: center; */
    padding-bottom: 100px;
    /* background-color: #ab9ed9; */
}

/* .summaryAndFeedbackHeader {
    color: #FFFFFF;
    text-align: center;
    font-size: 96px;
} */

.summaryAndFeedbackHeader {
    width: 100%;
    top: 0;
    color: #ffffff;
    padding: 20px 50px 20px 20px;
    text-align: center;
}

/* .summaryAndFeedbackContent {
    height: 100vh;    

} */

.feedback-container {
    padding-right: 20px;
    z-index: 0;
}

.feedbackBoxTitle {
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: 34px;
    left: 20px;
    z-index: 1;
}

.feedbackBoxInnerTitle {
    font-weight: bold;
    text-align: left;
}

.feedbackBox .star {
    /* color: #bbb0a8; */
    margin: 10px;
}

.feedbackBox, .feedbackBoxInnerBox {
    font-size: 24px;
    padding: 40px 30px 20px 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;
}

.feedbackBox {
    background-color: rgba(255, 255, 255, 0.75);
}

.feedbackBoxInnerBox {
    background-color: #1f1f1f;
    color: #ffffff;
}
#answerBox {
    text-align: left;
}
.questionButton {
    width: 300px;
    height: 80px;
    font-size: 40px !important;
    padding-bottom: 20px !important;
    border-width: 3px !important;
    border-radius: 20px !important;
}

.questionButton:hover {
    background: #ffffff4e !important;
    color: #ffffff !important;
}

.tryAgainButton {
    width: 300px;
    height: 80px;
    font-size: 40px !important;
    margin-bottom: 20px;
    border-width: 3px !important;
    border-radius: 20px !important;
}

.tryAgainButton:hover {
    background: #ffffff4e !important;
    color: #ffffff !important;
}

.feedbackBoxBtn {
    margin: 5px;
}

.headerTitle {
    font-size: 60px;
}

.feedbackBoxInnerBox i {
    padding-right: 10px;
}

.correctAns {
    color: #43b83a;
}

.selectedAns {
    color: lightcoral;
}

.subtitle {
    filter: brightness(70%);
}

@media all and (max-width: 768px) {
    .feedback-container {
        padding-right: 0px;
    }
    .headerTitle {
        font-size: 40px;
    }
    .feedbackBoxTitle {
        font-size: 30px;
    }
    .tryAgainButton {
        width: 200px;
        height: 60px;
        font-size: 25px !important;
        margin-bottom: 20px;
        border-width: 3px !important;
        border-radius: 20px !important;
    }
    .questionButton {
        width: 180px;
        height: 60px;
        font-size: 25px !important;
        padding-bottom: 20px !important;
        border-width: 3px !important;
        border-radius: 20px !important;
    }
    .feedbackBox, .feedbackBoxQuestionBox {
        font-size: 15px;
        padding: 20px 10px 10px 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        text-align: center;
    }
    .feedbackBox .star {
        /* color: #bbb0a8; */
        margin: 5px;
    }
    .feedbackBoxInnerTitle {
        font-weight: bold;
        text-align: left;
        font-size: 20px;
    }
    .summaryAndFeedbackHeader {
        width: 100%;
        top: 0;
        color: #ffffff;
        padding: 10px 24px 10px 10px;
        text-align: center;
    }
}
