.termPage {
    /* background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../assets/landingBackground.png');
    background-position: center;
    background-size: cover; */
    padding: 10vh 0;
    min-height: 100vh;
}
.termsTitle {
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}
.frameContainer {
    height: 50vh;
    margin: 0 auto;
}
.frame {
    display: block;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 100%;
    background: #FFFFFF;
    border-radius: 15px;
}
@media screen and (max-width: 768px) {
    .frame {
        width: 80%;
    }
}
.checkbox {
    padding: 30px 20vw 0;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}
.continueButtonContainer {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}